
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Temp/_MyLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".add-to-cart-btn").click(function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định của nút

            var productId = $(this).data("product-id");

            $.ajax({
                url: "/Cart/AddToCart", // Đường dẫn đến action AddToCart trong controller
                type: "POST",
                data: { productId: productId },
                success: function (response) {
                    // Xử lý khi thêm sản phẩm thành công (nếu cần)
                    alert("Product added to cart successfully!");
                },
                error: function () {
                    // Xử lý khi có lỗi xảy ra (nếu cần)
                    alert("Error adding product to cart!");
                }
            });
        });
    });
</script>

<!--================Product Details Area =================-->
<section class="product_details_area p_100">
    <div class="container">
        <div class="row product_d_price">
            <div class="col-lg-6">
                <div class="product_img">
                    <img class="img-fluid" src="~/img/@Model.img" alt="" id="zoomImage">
                    <div class="zoom-overlay" id="zoomOverlay">
                        <img class="img-fluid" src="~/img/@Model.img" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product_details_text">
                    <h4>@Model.name</h4>
                    <p>@Model.description</p>
                    <h5>Giá : <span>@Model.price vnđ</span></h5>
                    <div class="quantity_box">
                        <label for="quantity">Số lượng :</label>
                        <input type="text" placeholder="1" id="quantity">
                    </div>
                    <a class="pink_more add-to-cart-btn" href="#" data-product-id="@Model.id">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="product_tab_area">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Descripton</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Specification</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Review (0)</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const productImg = document.querySelector('.product_img');
    const zoomImage = document.getElementById('zoomImage');
    const zoomOverlay = document.getElementById('zoomOverlay');

    productImg.addEventListener('mousemove', (event) => {
        const boundingRect = productImg.getBoundingClientRect();
        const offsetX = event.clientX - boundingRect.left;
        const offsetY = event.clientY - boundingRect.top;

        const percentageX = (offsetX / boundingRect.width) * 100;
        const percentageY = (offsetY / boundingRect.height) * 100;

        zoomImage.style.transformOrigin = `${percentageX}% ${percentageY}%`;
        zoomImage.classList.add('zoomed');

        // Hiển thị khung ảnh overlay và đặt vị trí bên phải của hình ảnh gốc
        zoomOverlay.style.display = 'block';
        zoomOverlay.querySelector('img').style.transform = `translate(100%, -${percentageY}%)`;
    });

    productImg.addEventListener('mouseleave', () => {
        zoomImage.classList.remove('zoomed');
        zoomOverlay.style.display = 'none';
    });
</script>
<!--================End Product Details Area =================-->
<!--================Similar Product Area =================-->
@*<section class="similar_product_area p_100">
        <div class="container">
            <div class="main_title">
                <h2>Similar Products</h2>
            </div>
            <div class="row similar_product_inner">
                @Html.Action("getProductRecommend", "Product", new { id = Model.categoryid })
            </div>
        </div>
    </section>*@
@Html.Action("getProductRecommend", "Product", new { id = Model.categoryid })
<!--================End Similar Product Area =================-->
