
@{
    ViewBag.Title = "BlogsDetail";
    Layout = "~/Views/Temp/_MyLayout.cshtml";
}

<!--================End Main Header Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_text">
            <h3>Blog Details</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="single-blog.html">Blog Details</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Main Header Area =================-->
<!--================Blog Main Area =================-->
<section class="main_blog_area p_100">
    <div class="container">
        <div class="row blog_area_inner">
            <div class="col-lg-9">
                <div class="main_blog_inner single_blog_inner">
                    <div class="blog_item">
                        <div class="blog_img">
                            <img class="img-fluid" src="~/img/@Model.img" alt="" style="object-fit: fill; width:100%; max-height: 450px">
                        </div>
                        <div class="blog_text">
                            <div class="blog_time">
                                <div class="float-left">
                                    <a href="#">@Model.datebegin.ToString("dd/MM/yyyy")</a>
                                </div>
                                <div class="float-right">
                                    <ul class="list_style">
                                        <li><a href="#">By :  Admin</a></li>
                                        <li><a href="#">bekery, sweet</a></li>
                                        <li><a href="#">Comments: 8</a></li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#"><h4>@Model.name</h4></a>
                            <p>@Model.description </p>
                        </div>
                    </div>


                    @{ Html.RenderAction("getBlogComment", "Blog", new { id = Model.id });}


                    @{ Html.RenderAction("getBlogSaveComment", "Blog", new { id = Model.id });}

                </div>
            </div>
            <div class="col-lg-3">
                <div class="right_sidebar_area">
                    <aside class="r_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Search Keywords">
                            <div class="input-group-append">
                                <button class="btn" type="button"><i class="icon icon-Search"></i></button>
                            </div>
                        </div>
                    </aside>
                    <aside class="r_widget categories_widget">
                        <div class="r_title">
                            <h3>Categories</h3>
                        </div>
                        @Html.Action("getBlogCate", "Blog")
                    </aside>
                    <aside class="r_widget recent_widget">
                        @Html.Action("getRecentBlog", "Blog")
                    </aside>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Blog Main Area =================-->
