@model HPCakes.Models.news_comments

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-red">
                <div class="panel-heading" style="background-color: #f195b2; border-color: #f195b2">
                    Chi tiết Bình Luận
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.username)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.username)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.img)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.img)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.message)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.message)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.order)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.order)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.hide)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.hide)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.datebegin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.datebegin)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.news.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.news.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.news_comments2.username)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.news_comments2.username)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("Cập nhật", "Edit", new { id = Model.id }) |
                        @Html.ActionLink("Quay lại", "Index")
                    </p>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>