@model List<HPCakes.Models.bill>

@{
    var subtotal = Model.Last().subtotal;
    var total = Model.Last().total;
    var voucher = Model.Last().voucher;
}

@{
    ViewBag.Title = "Bill";
    Layout = "~/Views/Temp/_MyLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

</script>

<section class="billing_details_area p_100">
    <div class="container">
        <div class="return_option">
            <h4>Returning customer? <a href="#">Click here to login</a></h4>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="main_title">
                    <h2>Billing Details</h2>
                </div>
                <div class="billing_form_area">
                    <form class="billing_form row" action="" method="post" id="contactForm" novalidate="novalidate">
                        <div class="form-group col-md-6">
                            <label for="first">First Name *</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="phone">Phone *</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone numbers">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="address">Address *</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Street Address">
                        </div>
                        <input type="hidden" id="Total" name="Total" value="@total" />
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="order_box_price">
                    <div class="main_title">
                        <h2>Your Order</h2>
                    </div>
                    <div class="payment_list">
                        <div class="price_single_cost">
                            <h5>Sản phẩm<span>Total</span></h5>
                            @foreach (var i in Model)
                            {
                                <h5 class="show_product"> - @i.name - SL: @i.quantity<span class="product_price">@i.price vnđ</span><br /></h5>
                            }
                            <h4 class="subtotal_bill">Tổng cộng<span>@subtotal vnđ</span></h4>
                            <h5 class="voucher">Mã giảm giá<span>giảm @voucher%</span></h5>
                            <h5>Phí giao hàng<span class="text_f">Miễn phí</span></h5>
                            <h3 class="total_bill">Số tiền phải thanh toán<span>@total vnđ</span></h3>
                        </div>
                        <div id="accordion" class="accordion_area">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Thanh toán trực tiếp
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Thanh toán trực tuyến
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    @*<div class="card-body">
                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="submitBtn" class="btn pest_btn">Thanh toán</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $('#submitBtn').click(function() {
            var formData = {
                Name: $('#name').val(),
                Phone: $('#phone').val(),
                Address: $('#address').val(),
                Total: $('#Total').val()
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Orders", "Cart")',
                data: formData,
                success: function(response) {
                    if (response.success) {
                        alert('Thanh toán thành công.');
                        // Redirect hoặc xử lý khác sau khi thanh toán thành công
                    } else {
                        alert('Thanh toán thất bại: ' + response.message);
                    }
                },
                error: function() {
                    alert('Có lỗi xảy ra. Vui lòng thử lại.');
                }
            });
        });
    });
</script>


